<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :telefone %>
  <%= f.text_field :phone, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :Pedido %>
  <%= f.text_field :requests, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :Endereço %>
  <%= f.text_field :Address, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :Preço %>
  <%= f.text_field :price, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :Pagamento %>
  <%= f.text_field :payment, class: 'form-control' %>
</div>
